/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}
/* Variables */
$font-headings: Raleway, sans-serif;
$font-body: "Open Sans", sans-serif;

$main-bkg: hsl(218, 28%, 13%);
$intro-bkg: hsl(217, 28%, 15%);
$footer-bkg: hsl(216, 53%, 9%);
$testimonials-bkg: hsl(219, 30%, 18%);

$accent-1: hsl(176, 68%, 64%);
$accent-2: hsl(198, 60%, 50%);

$neutral: hsl(0, 0%, 100%);

body {
    font-size: 14px;
    font-family: $font-body;
    line-height: 2em;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-headings;
}

h1 { font-size: 2.3em; }
h2 { font-size: 1.728em; }
h3 { font-size: 1.44em; }
h4 { font-size: 1.2em; }

body.dark-theme {
  background-color: $main-bkg;
  color: $neutral;
}


/* Header */

header {
  display: flex;
  justify-content: space-between;
  padding: 3em;
  .logo {
    transform: scale(0.8) translateX(-20px);
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    a {
      color: $neutral;
      opacity: 0.7;
      text-decoration: none;
      font-size: 1em;
      margin-left: 2em;
      font-family: $font-body;
    }
  }
}

button.get-started {
  width: 300px;
  height: 60px;
  background-color: $accent-1;
  background-image: linear-gradient(to right, $accent-1, $accent-2);
  color: $neutral;
  border-radius: 30px;
  font-size: 1em;
}


/* Intro */

h1 {
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

p {
  margin-bottom: 1em;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 680px;
  margin: auto;
  text-align: center;
  p {
    max-width: 580px;
    font-size: 1.2em;
    opacity: 0.8;
  }
  h2 {
  }
}


/* Feature Grid */

.feature-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 900px;
  margin: 10em auto;
  .feature-square {
    flex-basis: 45%;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0;
    p {
      width: 100%;
      max-width: 350px;
      text-align: center;
      opacity: 0.8;
    }
  }
}

@media (max-width: 701px) {
  .feature-grid {
    flex-direction: column;
  }
}


/* Image && Text Sections */

.half-img-half-text {
  display: flex;
  padding: 0 8vw 7vh;
  width: 100%;
  justify-content: space-between;
  .section-content {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      margin-bottom: 0.5em;
      width: 100%;
      max-width: 340px;
    }
    p {
      opacity: 0.8;
    }
    a {
      text-decoration: none;
      .link-decor{
        color: $accent-1;
        text-decoration: none;
        border-bottom: 1px solid $accent-1;
        padding-bottom: 3px;
        img {
          height: 0.9em;
        }
      }
    }
  }
  .section-image {
    flex-basis: 50%;
    img {
      width: 100%;
      max-width: 615px;
    }
  }
}


/* Testimonials */

.testimonials {
  display: flex;
  width: 100%;
  max-width: 1160px;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 600px;
  align-items: center;
  padding: 0 1em;
  .testimonial-square{
    background-color: $testimonials-bkg;
    flex-basis: 30%;
    width: 360px;
    min-width: 325px;
    height: 200px;
    padding: 2.5em 2em 1.5em;
    p {
      width: 100%;
      max-width: 300px;
      opacity: 0.8;
      margin-bottom: 1.5em;
      line-height: 1.7em;
    }
    .testimonial-profile {
      display: flex;
      height: 25px;
      font-size: 0.6em;
      img {
        height: 100%;
        width: auto;
        border-radius: 50%;
        margin-right: 2em;
      }
      h4 {
        font-size: 1.3em;
        line-height: 1.3em;
        margin-bottom: 0.5em;
      }
      p {
        line-height: 1em;
        margin-bottom: 0;
      }
    }
  }
}
.testimonial-square.first:after {
  display: block;
  position: relative;
  content:"\201C";
  font-size: 15em;
  font-family: sans-serif;
  color: $accent-1;
  left: -50px;
  top: -160px;
}

@media (max-width: 700px) {
  .testimonials {
    flex-direction: column;
    height: 650px;
    margin-top: 7em;
    .testimonial-square {
      margin-bottom: 2em;
      max-height: 190px;
    }
    .testimonial-square.first:after  {
      font-size: 6em;
      left: -30px;
      top: -195px;
    }
  }
}


/* Call-to-Action */

.call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10em 3em;
  background: linear-gradient(to bottom,  $main-bkg 0%,$main-bkg 50%,$footer-bkg 50%,$footer-bkg 100%);
  .section-content {
    background-color: $intro-bkg;
    padding: 5em 3em;
    width: 100%;
    max-width: 860px;
    box-shadow: 0px 10px 20px 15px rgba(0,0,0,0.1);
    p {
      width: 100%;
      max-width: 620px;
      opacity: 0.8;
      margin: 0 auto 2em;
    }
  }
  h1 {
    margin-bottom: 2vh;
  }
  input {
    width: 100%;
    min-width: 200px;
    max-width: 480px;
    height: 50px;
    border-radius: 50px;
    margin-right: 2em;
    margin-bottom: 1em;
  }
  .get-started {
    width: 200px;
    height: 50px;
  }
}

@media (max-width: 700px) {
  .call-to-action .get-started {
    width: 100%;
    max-width: 480px;
    margin-right: 2em;
  }
}


/* Footer */

footer {
  background-color: $footer-bkg;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 100px);
  padding: 0 0 0 4em;
  font-size: 1em;
  p {
    opacity: 0.8;
  }
  a {
    text-decoration: none;
    color: inherit;
    margin-bottom: 1em;
    opacity: 0.8;
  }
  .footer-header {
    grid-column: 1/6;
    grid-row: 1;
    .logo {
      opacity: 1.2;

    }
  }
  .col-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-column: 1/3;
    .icon-text {
      display: flex;
      align-items: flex-start;
      img {
        margin: 6px 2em 0 0;
      }
    }
    p{
      width: 100%;
      max-width: 320px;
      padding-right: 1em;
    }
  }
  .col-2 {
    grid-column: 3;
    p {
      display: flex;
      align-items: center;
    }
    img {
      height: 1em;
      margin-right: 1em;
    }  }
  .col-3 {
    grid-column: 4;
    padding-left: 3em;
    display: flex;
    flex-direction: column;
  }
  .col-4 {
    grid-column: 5;
    padding-left: 2em;
    display: flex;
    flex-direction: column;
  }
  .col-5 {
    grid-column: 6;
    .social-icons{
      i {
        margin-right: 0.5em;
      }
    }
  }
}

@media (max-width:830px) {
  .social-icons {
    display: flex;
    flex-direction: column;
    i {
      margin: 0 0.5em 0.5em 1em;
    }
  }
}

@media (max-width:750px) {
  footer{
    .col-3, .col-4{
      padding-left: 1em;
    }
  }
}

.attribution {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: $footer-bkg;
  margin: 0;
  font-size: 11px; text-align: center;
}
.attribution a { color: inherit;
  text-decoration: none;
  font-weight: bold;
}


/* Media Queries */

@media (max-width: 750px) {
  .half-img-half-text {
    flex-direction: column;
    .section-content h1 {
      max-width: none;
    }
  }
}

@media (max-width: 700px){
  body {
    line-height: normal;
    font-size: 0.8em;
  }
  h1, h3 {
    margin-bottom: 0.5em;
  }
  p {
    margin-bottom: 2em;
  }
  header {
    padding: 1em;
    .logo {
      transform: scale(0.6) translateX(-60px);
    }
    nav {
      width: 100%;
      min-width: 164px;
      justify-content: flex-end;
      a {
        margin-left: 1em;
      }
    }
  }
  .intro {
    padding: 0 3em;
    img {
      width: 100%;
    }
  }
  .feature-square {
    img {
      margin-bottom: 3em;
    }
  }
  .half-img-half-text {
    h1 {
      font-size: 1.5em;
    }
    p {
      font-size: 1.2em;
    }
    .section-image {
      padding-bottom: 4em;
    }
  }
  footer{
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    font-size: 1.2em;

    .footer-header {
      margin-bottom: 3em;
    }
    .col-2 {
      margin-bottom: 4em;
    }
    .col-3 {
      margin-bottom: 2em;
    }
    .col-4 {
      margin-bottom: 4em;
    }
    .social-icons {
      flex-direction: row;
      justify-content: center;
      transform: scale(0.8);
      i {
        margin: 0;
      }
    }
  }
}
